@model ReadExcel.Models.MultiModel
@{
    ViewBag.Title = "Search Sell Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Sell Out</h2>
<html>
<head>

    <title></title>
    <link href="~/Content/upload.css" type='text/css' rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

</head>
<body>

    <br />
    <div class="table-responsive">

        @using (Html.BeginForm("GetAllChildren", "Home", FormMethod.Post))
        {
        <div class="row">
            <div class="col-sm-4">RSM
                @Html.DropDownListFor(m => m.SalesForce.StateModel,new SelectList(Model.SalesForce.StateModel, "Id", "ParName"), "Select",
               new { @class = "form-control", @id = "ddlstate", @style = "width:200px;", @onchange = "GetCity(this.value,'#ddlcity');" })

            </div>


            <div class="col-sm-4">
               ASM <select id="ddlcity" class="form-control" name="ddlcity" style="width: 200px" onchange="GetCity(this.value, '#ddlcity1');"></select>
            </div>
            <div class="col-sm-4">
               NVBH <select id="ddlcity1" class="form-control" name="ddlcity1" style="width: 200px" onchange="GetCity(this.value, '#ddlcity2');"></select>
            </div>
        </div>
          <br/> 
        <div class="row">
            <div class="col-sm-3">
                <input type="submit" name="btnupload" value="Search" class="btn btn-primary" />
            </div>
        </div>

            
        }
    </div>
    <br/>
    <div class="table-responsive">


        @if (Model != null)
        {

            <table border="1" id="tableId" class="table table-striped table-bordered table-hover table-condensed">
                <thead>

                    <tr style="background-color:yellow">

                        @foreach (System.Data.DataColumn col in Model.Dt.Columns)
                        {
                            <th>@col.Caption</th>
                        }





                    </tr>


                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in Model.Dt.Rows)
                    {
                        <tr>
                            @{int countRow = 0;}
                            @foreach (var cell in row.ItemArray)
                            {
                                var a = row.ItemArray[11].ToString();
                                if (a == "2")
                                {
                                    if (countRow > 5 && countRow < 10)
                                    {
                                        <td class="text-right" style="background-color:yellow">@cell.ToString()</td>
                                    }
                                    else
                                    {
                                        <td style="background-color:yellow">@cell.ToString()</td>
                                    }

                                }
                                else if (a == "3")
                                {
                                    if (countRow > 5 && countRow < 10)
                                    {
                                        <td class="text-right" style="font-weight:bold">@cell.ToString()</td>
                                    }
                                    else
                                    {
                                        <td style="font-weight:bold">@cell.ToString()</td>
                                    }

                                }
                                else
                                {
                                    if (countRow > 5 && countRow < 10)
                                    {
                                        <td class="text-right">@cell.ToString()</td>
                                    }
                                    else
                                    {
                                        <td>@cell.ToString()</td>
                                    }

                                }
                                @*<td>@cell.ToString()</td>*@
                                countRow++;
                            }
                        </tr>
                    }
                </tbody>
                @*<tfoot>
                        <tr>
                            <th style="display:none"></th>
                            <th style="display:none"></th>
                            <th></th>

                        </tr>
                    </tfoot>*@
            </table>
        }

    </div>


</body>
</html>
<script>
    function GetCity(_stateId, id) {
        var procemessage = "<option value='0'> Please wait...</option>";
        //$("#ddlcity").html(procemessage).show();
        var url = "/Home/GetEmpByParentID";

        $.ajax({
            url: url,
            data: { parentCode: _stateId, level: 3 },
            cache: false,
            type: "POST",
            success: function (data) {

                var markup = "<option value='0'>Select</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $(id).html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
    $(document).ready(function () {


        $('#tableId').DataTable({
            "oLanguage": {
                "sSearch": "Tìm Kiếm", //search,
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
            pageLength: 50,
            "bSort": false,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excel',
                    title: '',
                    text: 'Xuất file'
                }
            ],
            "columnDefs": [
                {
                    "targets": [0,1,2,9,10,11,12,13],
                    "visible": false

                }

            ]

        });



        $("table").removeClass("dataTable");
        openTab(event, 'tab1');
        $("#button1").addClass("active");


    });

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";

    }




</script>

