
@{
    ViewBag.Title = "SearchResultSellIn";
    Layout = "~/Views/Shared/_LayoutSearchReport.cshtml";
}

<h2>Kết quả tìm kiếm</h2>

<html>
<head>
    <style>
        .dataTables_filter, .dataTables_info {
            display: none !important;
        }

        #tableId th {
            text-align: center;
            vertical-align: middle;
        }

        #tableId1 th {
            text-align: center;
            vertical-align: middle;
        }
    </style>
    <title>Import Sell In</title>
   

</head>
<body>
    <div class="tab">
        <button class="tablinks active" id="button1" onclick="openTab(event, 'tab1')">Doanh thu theo chuỗi</button>
        <button class="tablinks" onclick="openTab(event, 'tab2')">Danh thu theo ngành hàng</button>

    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @using (Html.BeginForm("SearchResultSellIn", "Home", FormMethod.Post))
                {

                    <div class="form-group col-sm-6">

                        <div class="input-group">
                            <input type="text" name="bday" value="" id="datepicker" class="form-control" />
                            <label class="input-group-addon btn" for="testdate" id="calendar">
                                <span class="glyphicon glyphicon-calendar" id="calendar"></span>
                            </label>
                        </div>
                        <br/>
                        <input type="submit" class="btn btn-primary" value="Tìm" />

                    </div>

                }

            </div>
            @*<div class="col-md-6 input-group">
                    <select name="myInput" class="form-control">
                        <option class="form-control" value="metro">Volvo</option>
                        <option class="form-control" value="saab">Saab</option>
                        <option class="form-control" value="opel">Opel</option>
                        <option class="form-control" value="audi">Audi</option>
                    </select>
                </div>
                <input type="text" id="myInput" />
                <input type="text" id="myInput1" />*@
        </div>

    </div>
    @*<input type="text" id="myInput" />*@



    <div id="tab1" class="tabcontent">
        <div class="table-responsive">

            @foreach (var item in ViewContext.ViewData.ModelState)
            {
                if (item.Value.Errors.Any())
                {

                    @*<b>@Html.ValidationSummary()</b>*@
                }
            }
            @if (Model != null)
            {
                @*<input id="filters" />*@
                <table border="1" id="tableId" class="table table-striped table-bordered table-hover table-condensed" style="width:100%">
                    <thead>
                        <tr id="filters">
                            <th style="display:none"></th>
                            <th style="display:none"></th>
                            <th style="max-width:90px !important">Filter</th>

                        </tr>
                        <tr style="background-color:yellow; text-align:center">
                            @*@foreach (System.Data.DataColumn col in Model[0].Columns)
                                {
                                    <th>@col.Caption</th>
                                }*@
                            <th rowspan="2">Day</th>
                            <th rowspan="2">Region</th>
                            <th rowspan="2" name="key">Key Account</th>
                            <th rowspan="2">Channel</th>
                            <th rowspan="2">Performed</th>
                            <th rowspan="2">Last Month</th>
                            <th rowspan="2">Target Month</th>
                            <th rowspan="2">Target Date</th>
                            <th rowspan="2">Actual</th>
                            <th rowspan="2">Growth</th>
                            <th rowspan="2">Growth vs LM</th>
                            <th rowspan="2">% vs Target</th>

                            <th style="text-align:center" colspan="4">Current Week</th>
                            <th rowspan="2">% vs Target</th>
                            <th rowspan="2">Upload Date</th>


                            @*<th rowspan="2">Nguồn dữ liệu</th>*@
                        </tr>
                        <tr style="background-color:yellow">
                            <th>Target</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Current Date</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model[0].Rows)
                        {
                            <tr>
                                @{int countRow = 0;}

                                @foreach (var cell in row.ItemArray)
                                {
                                    if (countRow > 3 && countRow < 17)
                                    {
                                        <td class="text-right">@cell.ToString()</td>
                                    }
                                    else
                                    {
                                        <td>@cell.ToString()</td>
                                    }
                                    countRow++;

                                }
                            </tr>
                        }
                    </tbody>
                    @*<tfoot>
                            <tr>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                                <th></th>

                            </tr>
                        </tfoot>*@
                </table>
            }
        </div>
    </div>

    <div id="tab2" class="tabcontent">
        <div class="table-responsive">


            @if (Model != null)
            {
                <table border="1" id="tableId1" class="table table-striped table-bordered table-hover table-condensed">
                    <thead>

                        <tr style="background-color:yellow">
                            @*@foreach (System.Data.DataColumn col in Model[0].Columns)
                                {
                                    <th>@col.Caption</th>
                                }*@
                            <th rowspan="2">Day</th>
                            <th rowspan="2">Region</th>
                            <th rowspan="2" name="key">Key Account</th>
                            <th rowspan="2">Channel</th>
                            <th rowspan="2">Performed</th>
                            <th rowspan="2">Last Month</th>
                            <th rowspan="2">Target Month</th>
                            <th rowspan="2">Target Date</th>
                            <th rowspan="2">Actual</th>
                            <th rowspan="2">Growth</th>
                            <th rowspan="2">Growth vs LM</th>
                            <th rowspan="2">% vs Target</th>

                            <th style="text-align:center;" colspan="4">Current Week</th>
                            <th rowspan="2">% vs Target</th>
                            <th rowspan="2">Upload Date</th>
                            @*<th rowspan="2">Nguồn dữ liệu</th>*@

                        </tr>
                        <tr style="background-color:yellow">
                            <th>Target</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Current Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model[1].Rows)
                        {
                            <tr>
                                @{int countRow = 0;}

                                @foreach (var cell in row.ItemArray)
                                {
                                    if (countRow > 3 && countRow < 17)
                                    {
                                        <td class="text-right">@cell.ToString()</td>
                                    }
                                    else
                                    {
                                        <td>@cell.ToString()</td>
                                    }
                                    countRow++;

                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

</body>
</html>
<script>

    $(document).ready(function () {


        $('#tableId').DataTable({
            "oLanguage": {
                "sSearch": "Tìm Kiếm", //search,
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
            //"sScrollX": true,
            "columnDefs": [
                { "width": "100px", "targets": 2 }
            ],
            //"scrollY": "200px",
            //"scrollCollapse": true,
            "paging": false,
            pageLength: 50,
            "bSort": false,
            dom: 'Bfrtip',
            //bFilter: false,
            buttons: [
                {
                    extend: 'excel',
                    title: '',
                    text: 'Xuất file'
                }
            ],
            "columnDefs": [
                {
                    "targets": [16, 18, 19, 20],
                    "visible": false

                }

            ],
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select style="max-width:70px !important"><option value=""></option></select>')
                        .appendTo($("#filters").find("th").eq(column.index()))
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
        $('#tableId1').DataTable({
            "oLanguage": {
                "sSearch": "Tìm Kiếm", //search,
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
            //"scrollX": true,
            //"scrollY": "200px",
            //"scrollCollapse": true,
            //"paging": false,
            pageLength: 50,
            "bSort": false,
            //bFilter: false,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excel',
                    title: '',
                    text: 'Xuất file'
                }
            ],
            "columnDefs": [
                {
                    "targets": [3, 16, 18, 19, 20],
                    "visible": false

                }


            ],
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });


        $("table").removeClass("dataTable");
        openTab(event, 'tab1');
        $("#button1").addClass("active");

        $('#datepicker').datepicker({
            defaultDate: "07/23/2018",
            format: 'dd/mm/yy'
        });
        var table = $('#tableId').DataTable();

        // #myInput is a <input type="text"> element

        $("select").change(function () {
            var end = this.value;
            var firstDropVal = $('#pick').val();
            table.search(this.value).draw();
        });
        $('#myInput').on('keyup', function () {
            table.search("METRO").draw();
            $('#myInput1').on('keyup', function () {

                table.search($('#myInput1').val()).draw();
            });
        });
        $('th[name=key]').width(150);

        $("#datepicker").datepicker({ dateFormat: 'mm/dd/yy' });
        $("#datepicker").datepicker('setDate', new Date());

        $('#calendar').on('click', function () {

            $('#datepicker').datepicker('show');
        });

    });

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";

    }



</script>

